# # We want to ignore all the west artifacts
.west/
zephyr*
zmk*
boards/

# We want to ignore the modules being used
modules*

# We want to ignore all the built artifacts
build/
build.yaml

# Ignore all nix artifacts
result/

# Ignore all my modular per keyboard artifacts
TIE-TEM/
